
$color-text-main: #242424;
$color-primary: #41e9ff;
$color-border-default: #e9e9e9;

$bg-header: $color-text-main;
$bg-header-links-hover: #1b1b1b;

$font-size-default: 14px;

$transition-default: opacity .5s ease, .5s visibility .0s ease;


@mixin pseudoCircle ($radius, $bg: gray) {
    content: '';
    display: inline-block;
    width: $radius;
    height: $radius;
    border-radius: 50%;
    background: $bg;
}

@mixin flexCenterCenter () {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexStartCenter () {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

//Util-classes
.text-center {
    text-align: center;
}



